@import './../../assets/styles/settings';

.header {
    padding: 34px 0;
    width: 100%;
    background-color: $color-white;

    &.header-absolute {
        position: absolute;
        top: 0;
        left: 0;
        z-index: $z-min;
    }
}

.header-container {
    display: flex;
}

.header-logo {
    width: 147px;
}

.header-login {
    margin-left: auto;
    font-size: 18px;
}

.header-login-link {
    color: $primary-color;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}
